@import '../../../assets/styles/variables';

::ng-deep .job-invoices-tab.mat-card {

  .mat-card-header-text {
    display: none;
  }

  .table-wrapper {
    background: $color-basic-light-grey;
    border-radius: 5px;
    padding: 0 15px 25px;

    .under-table-row {
      display: flex;
      justify-content: space-between;
    }

    .amount-column {
      flex: auto;
      display: flex;
      flex-direction: column;

      span {
        padding: 0 20px;
        font-weight: 600;
        font-size: 14px;
        font-style: italic;
        line-height: 22px;
        text-align: right;
        color: $color-contrast-black;
      }

      .amount-field {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        font-size: 13px;
        line-height: 18px;
        color: $color-contrast-black;

        &--total {
          font-weight: 600;
          font-size: 13px;
          line-height: 19px;

          .label {
            color: $color-contrast-black;
          }

          .value-area {
            color: $color-basic-purple;
          }
        }

        &:not(:first-child) {
          margin-top: 5px;
        }

        .label {
          margin-right: 15px;
        }

        .value-area {
          border-radius: 3px;
          background-color: $color-basic-white;
          width: 100%;
          max-width: 180px;
          height: 40px;
          padding: 11px 20px;
          text-align: right;
          font-size: 13px;
          line-height: 18px;
        }
      }
    }
  }
}

.mat-card.job-invoices-tab {
  box-shadow: none;
  padding: 0;

  .job-invoices-tab-header {
    display: flex;
    justify-content: space-between;

    .job-invoices-tab-title {
      font-weight: 600;
      font-size: 13px;
      line-height: 19px;
      margin-right: auto;
      margin-bottom: 5px;
    }
  }
}

/** Modal Actions */
.mat-card-actions {
  padding: 0;
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: flex-end;

  .button-right {
    margin-left: 12px;
  }

  app-button {
    margin-top: 30px;
  }
}
