@import 'variables';

@media (min-width: $screen-sm) {
  .page-wrapper {
    padding: 30px 50px 40px;
    height: 100%;
  }

 .page-title {
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    color: $color-contrast-black;
    margin-bottom: 22px;

   ::ng-deep .skeleton-loader {
      height: 28px;
      .loader {
        background: #FFFFFF !important;
        height: 28px;
        width: 152px;
        border-radius: 32px;
      }
    }
  }

  .page-content {
    height: 100%;
    background-color: $color-basic-white;
    padding: 25px;
    border-radius: 5px;
  }

}
