/** Auth Form Sizes */
$auth-form-width: 420px;
$auth-form-padding-top: 100px;

/** Side Bar Size */
$side-bar-width: 250px;
$side-bar-closed-width: 75px;

/** Components Size */
$header-height: 70px;
$footer-height: 70px;

/** Mobile content size */
$mobile-header-height: 64px;
$mobile-footer-height: 76px;

/** Colors */
$color-secondary-dark-grey: #494949;
$color-basic-dark-grey: #516E86;
$color-basic-medium-grey: #ACC0D0;
$color-basic-normal-grey: #CFDFE8;
$color-basic-grey: #849DB3;
$color-basic-light-grey: #F7F9FE;
$color-basic-white: #FFFFFF;
$color-basic-purple: #6074F1;
$color-info-blue: #4A9FF6;
$color-contrast-black: #253343;
$color-primary-variant: #2B2E4A;
$color-success-green: #58BE85;
$color-warning-orange: #F19E4A;
$color-error-red: #E04145;

/** Mat dialog */
$dialog-header-height: 55px;
$dialog-actions-height: 80px;

/** Screen Size */
$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;
$screen-xxl: 1400px;









